table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 40%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

/* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
#map {
    height: 40%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#history{
    position: absolute;
    top: 20px;
    right: 40%;
    border: 1px solid black;
    padding: 10px;


}